@import 'color';
@import 'mixin';

.card {
  @include flex-column;
  width: 392px;
  height: 488px;
  border-radius: 12px;
  border: 1px solid #e8e8ea;
  padding: 16px;
  gap: 16px;

  &__image {
    height: 240px;
    border-radius: 6px;
  }

  &__content {
    @include flex-column;
    height: 200px;
    padding: 8px;
    gap: 20px;
  }

  &__category {
    background-color: rgba(75, 107, 251, 5%);
    color: #4b6bfb;
    width: 127px;
    text-align: center;
    font-weight: 500;
    border-radius: 6px;
    padding: 4px 10px 4px 10px;
  }

  &__title {
    font-weight: 600;
    color: $titlecolor;
  }

  &__footer {
    @include flex-aicenter;
    justify-content: space-between;
    gap: 20px;
    color: #97989f;
  }

  &__author {
    @include flex-aicenter;
    font-weight: 500;
    gap: 12px;
  }

  &__avatar {
    width: 36px;
    height: 36px;
    border-radius: 28px;
  }

  &__date {
    font-weight: 400;
  }
}
