@import 'color';
@import 'mixin';

.footer {
  font-family: 'Plus Jakarta Sans', sans-serif;
  @include flex-column;
  background-color: #e8e8ea;
  padding: 64px 352px 0px 352px;
  gap: 64px;
  border-top: 1px solid #e8e8ea;

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__info {
    @include flex-column;
    width: 289px;
    height: 236px;
    gap: 24px;
  }

  &__about {
    @include flex-column;
    gap: 12px;

    &-title {
      color: $titlecolor;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
    }
    &-description {
      color: $listcolor;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__contact {
    @include flex-column;
    gap: 4px;
    color: $titlecolor;
  }

  &__email {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    span {
      font-weight: 400;
      color: $listcolor;
    }
  }

  &__phone {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    span {
      font-weight: 400;
      color: $listcolor;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    width: 495px;
    height: 236px;
    gap: 80px;
  }

  &__quicklink {
    @include flex-column;
    gap: 24px;
    width: 90px;
    height: 236px;
    white-space: nowrap;

    &-title {
      color: $titlecolor;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__list {
    @include flex-column;
    gap: 8px;
    color: $listcolor;
    font-size: 16px;
    line-height: 24px;
  }

  &__category {
    @include flex-column;
    gap: 24px;
    width: 90px;
    height: 236px;
    white-space: nowrap;

    &-title {
      color: $titlecolor;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__newsletter {
    @include flex-column;
    gap: 30px;
    font-family: 'Work Sans', sans-serif;
    background-color: #ffffff;
    text-align: center;
    width: 392px;
    border-radius: 12px;
    padding: 32px;
    height: 254px;

    &-heading {
      @include flex-column;
      gap: 8px;
      width: 289px;
      height: 56px;

      :nth-child(1) {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        color: $titlecolor;
      }

      :nth-child(2) {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #696a75;
      }
    }

    &-form {
      @include flex-column;
      gap: 8px;
      width: 320px;
      height: 104px;
      position: relative;

      &-input {
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        border: 1px solid #dcdddf;
        border-radius: 6px;
        padding: 12px 16px 12px 16px;
        gap: 10px;
        height: 48px;
        outline: none;
      }

      &-icon {
        position: absolute;
        right: 15px;
        top: 15px;
        color: #696a75;
      }

      &-button {
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        background-color: #4b6bfb;
        color: #ffffff;
        border: none;
        border-radius: 6px;
        padding: 12px 20px 12px 20px;
        gap: 12px;
        height: 48px;
        cursor: pointer;
      }
    }
  }

  &__copyright {
    @include flex-aicenter;
    justify-content: space-between;
    margin-top: 20px;
    padding: 32px 0px 32px 0px;
    gap: 64px;
    border-top: 1px solid #dcdddf;

    &-list {
      display: flex;
      gap: 16px;
      color: $listcolor;
      li {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 10px;
        &:not(:first-child) {
          border-left: 1px solid #c5c5c7;
        }
      }
    }
  }

  &__logo {
    display: flex;
    gap: 10px;

    &-text {
      display: flex;
      flex-direction: column;
      gap: 2px;
      color: #141624;

      &-brand {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;

        &--bold {
          font-weight: 800;
        }
      }

      &-claim {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: $listcolor;
      }
    }
  }
}
